<header>
  <img src="https://www.themoviedb.org/t/p/original/37Z9oBaFG5PJov0tLZFnXZm0k5b.jpg" alt="imagen_cabecera" class="profile-picture">
  <h1>The Good Doctor</h1>
</header>
<div class="principal">
<section class="p1">
    <div class="tarjeta">
    <h2>Historia</h2>
    <p>The Good Doctor es una serie de televisión estadounidense de drama médico, desarrollada por David Shore y Daniel Dae Kim, basado en la serie surcoreana de 2013 del mismo nombre. El show es producido por Sony Pictures Television y ABC Studios, con Shore sirviendo como el showrunner. Es protagonizada por Freddie Highmore como Shaun Murphy; un joven cirujano con autismo y síndrome del sabio en el ficticio hospital St. Bonaventure de San José, California. También forman parte del elenco principal Hill Harper, Christina Chang, Richard Schiff, Will Yun Lee, Fiona Gubelmann, Paige Spara, Noah Galvin y Bria Samoné Henderson.</p>
    </div>
  </section>
  <section class="p1">
    <div class="tarjeta">
    <h2>Motivos por los que te gusta</h2>
    <ul>
      <li>Me apasionado los momentos increíbles en las salas de emergencia.</li>
      <li>Es impresionante como el protagonista tiene un razonamiento muy rápido al momento de hacer un diagnóstico médico.</li>
      <li>Excelente dramatización por parte de la serie.</li>
    </ul>
    <h2>Personajes</h2>
    <ul>
      <li>Dr. Shaun Murphy.</li>
      <li>Dr. Neil Melendez.</li>
      <li>Dra. Claire Browne.</li>
      <li>Dr. Marcus Andrews.</li>
      <li>Dr. Aaron Glassman.</li>
      <li>Dra. Morgan Reznick.</li>
      <li>Dr. Alex Park.</li>
      <li>Dra. Audrey Lim.</li>
      <li>Lea Dilallo.</li>
      <li>Dra. Carly Lever.</li>
    </ul>
  </div>
  </section>
  <section class="p1">

  <div class="tarjeta">
    <h2>Otras películas o series similares</h2>
    <div class="interno">
    <article class="card">
      <h3>House M. D.</h3>
      <p>House M. D. es un drama médico Estadounidense que se emitió originalmente por la cadena Fox durante ocho temporadas, desde el 16 de noviembre de 2004 al 21 de mayo de 2012.</p>
    </article>
    </div>
    
    <article class="card">
      <h3>NCIS</h3>
      <p>La serie NCIS sigue a unos agentes federales del Equipo de Respuesta en Casos Principales (ocasionalmente se trata de terrorismo, pues el NCIS se encarga de investigar posibles atentados terroristas, mientras estén de algún modo relacionadas con la marina) del Servicio de Investigación Criminal Naval, cuyo cuartel general está en el Arsenal Naval de Washington, en Washington D. C.</p>
    </article>
  </div>
  </section>
</div>